@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
  font-family:
    Noto Sans JP,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 300;
  line-height: 23px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  font-family:
    Noto Sans JP,
    Helvetica,
    Arial,
    sans-serif;
}

html {
  font-size: 16px;
}


.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị là 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.5em * 2); /* Đặt chiều cao dựa trên số dòng (1.5em là chiều cao của mỗi dòng) */
  line-height: 1.5em; /* Đặt chiều cao dòng */
}